<html>
	<head>
		<title>NexusSphere</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="icon" type="image/x-icon" href="/images/logo-icon.png">
		<link rel="stylesheet" href="/css/main.css" />
		<noscript><link rel="stylesheet" href="/css/noscript.css" /></noscript>
	</head>
	<body class="is-preload">

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Message -->
					<div id="intro">
						<p>Inquiry sent successfully!&nbsp; Thank You</p>
						<header id="header">
						<a href="/home" class="logo">Back</a>
						</header>
					</div>

				<!-- Copyright -->
					<div id="copyright">
						<ul><li>&copy; NexusSphere</li><li>Advertizing, Corporate & Promotional Gifts</li></ul>
					</div>

			</div>

		<!-- Scripts -->
			<script src="/js/jquery.min.js"></script>
			<script src="/js/jquery.scrollex.min.js"></script>
			<script src="/js/jquery.scrolly.min.js"></script>
			<script src="/js/browser.min.js"></script>
			<script src="/js/breakpoints.min.js"></script>
			<script src="/js/util.js"></script>
			<script src="/js/main.js"></script>
	</body>
</html>